@import "../../assets/style/color.scss";
.btn {
  background-color: $__blue_color;
  color: $color_2;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
